<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.paas.ipaas.rds.dao.interfaces.RdsInstanceBaseconfigMapper" >
  <resultMap id="BaseResultMap" type="com.ai.paas.ipaas.rds.dao.mapper.bo.RdsInstanceBaseconfig" >
    <id column="instancebaseconfigid" property="instancebaseconfigid" jdbcType="BIGINT" />
    <result column="instancecreatetime" property="instancecreatetime" jdbcType="TIMESTAMP" />
    <result column="instancedatapath" property="instancedatapath" jdbcType="VARCHAR" />
    <result column="instancehomepath" property="instancehomepath" jdbcType="VARCHAR" />
    <result column="instancelastupdatetime" property="instancelastupdatetime" jdbcType="TIMESTAMP" />
    <result column="ipwhitelist" property="ipwhitelist" jdbcType="VARCHAR" />
    <result column="instancebaseconfigbelonger" property="instancebaseconfigbelonger" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    instancebaseconfigid, instancecreatetime, instancedatapath, instancehomepath, instancelastupdatetime, 
    ipwhitelist, instancebaseconfigbelonger
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.paas.ipaas.rds.dao.mapper.bo.RdsInstanceBaseconfigCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from rds_instance_baseconfig
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Long" >
    select 
    <include refid="Base_Column_List" />
    from rds_instance_baseconfig
    where instancebaseconfigid = #{instancebaseconfigid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Long" >
    delete from rds_instance_baseconfig
    where instancebaseconfigid = #{instancebaseconfigid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.paas.ipaas.rds.dao.mapper.bo.RdsInstanceBaseconfigCriteria" >
    delete from rds_instance_baseconfig
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.paas.ipaas.rds.dao.mapper.bo.RdsInstanceBaseconfig" >
    insert into rds_instance_baseconfig (instancebaseconfigid, instancecreatetime, 
      instancedatapath, instancehomepath, instancelastupdatetime, 
      ipwhitelist, instancebaseconfigbelonger)
    values (#{instancebaseconfigid,jdbcType=BIGINT}, #{instancecreatetime,jdbcType=TIMESTAMP}, 
      #{instancedatapath,jdbcType=VARCHAR}, #{instancehomepath,jdbcType=VARCHAR}, #{instancelastupdatetime,jdbcType=TIMESTAMP}, 
      #{ipwhitelist,jdbcType=VARCHAR}, #{instancebaseconfigbelonger,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.paas.ipaas.rds.dao.mapper.bo.RdsInstanceBaseconfig" >
    insert into rds_instance_baseconfig
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="instancebaseconfigid != null" >
        instancebaseconfigid,
      </if>
      <if test="instancecreatetime != null" >
        instancecreatetime,
      </if>
      <if test="instancedatapath != null" >
        instancedatapath,
      </if>
      <if test="instancehomepath != null" >
        instancehomepath,
      </if>
      <if test="instancelastupdatetime != null" >
        instancelastupdatetime,
      </if>
      <if test="ipwhitelist != null" >
        ipwhitelist,
      </if>
      <if test="instancebaseconfigbelonger != null" >
        instancebaseconfigbelonger,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="instancebaseconfigid != null" >
        #{instancebaseconfigid,jdbcType=BIGINT},
      </if>
      <if test="instancecreatetime != null" >
        #{instancecreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="instancedatapath != null" >
        #{instancedatapath,jdbcType=VARCHAR},
      </if>
      <if test="instancehomepath != null" >
        #{instancehomepath,jdbcType=VARCHAR},
      </if>
      <if test="instancelastupdatetime != null" >
        #{instancelastupdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="ipwhitelist != null" >
        #{ipwhitelist,jdbcType=VARCHAR},
      </if>
      <if test="instancebaseconfigbelonger != null" >
        #{instancebaseconfigbelonger,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.paas.ipaas.rds.dao.mapper.bo.RdsInstanceBaseconfigCriteria" resultType="java.lang.Integer" >
    select count(*) from rds_instance_baseconfig
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update rds_instance_baseconfig
    <set >
      <if test="record.instancebaseconfigid != null" >
        instancebaseconfigid = #{record.instancebaseconfigid,jdbcType=BIGINT},
      </if>
      <if test="record.instancecreatetime != null" >
        instancecreatetime = #{record.instancecreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.instancedatapath != null" >
        instancedatapath = #{record.instancedatapath,jdbcType=VARCHAR},
      </if>
      <if test="record.instancehomepath != null" >
        instancehomepath = #{record.instancehomepath,jdbcType=VARCHAR},
      </if>
      <if test="record.instancelastupdatetime != null" >
        instancelastupdatetime = #{record.instancelastupdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ipwhitelist != null" >
        ipwhitelist = #{record.ipwhitelist,jdbcType=VARCHAR},
      </if>
      <if test="record.instancebaseconfigbelonger != null" >
        instancebaseconfigbelonger = #{record.instancebaseconfigbelonger,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update rds_instance_baseconfig
    set instancebaseconfigid = #{record.instancebaseconfigid,jdbcType=BIGINT},
      instancecreatetime = #{record.instancecreatetime,jdbcType=TIMESTAMP},
      instancedatapath = #{record.instancedatapath,jdbcType=VARCHAR},
      instancehomepath = #{record.instancehomepath,jdbcType=VARCHAR},
      instancelastupdatetime = #{record.instancelastupdatetime,jdbcType=TIMESTAMP},
      ipwhitelist = #{record.ipwhitelist,jdbcType=VARCHAR},
      instancebaseconfigbelonger = #{record.instancebaseconfigbelonger,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.paas.ipaas.rds.dao.mapper.bo.RdsInstanceBaseconfig" >
    update rds_instance_baseconfig
    <set >
      <if test="instancecreatetime != null" >
        instancecreatetime = #{instancecreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="instancedatapath != null" >
        instancedatapath = #{instancedatapath,jdbcType=VARCHAR},
      </if>
      <if test="instancehomepath != null" >
        instancehomepath = #{instancehomepath,jdbcType=VARCHAR},
      </if>
      <if test="instancelastupdatetime != null" >
        instancelastupdatetime = #{instancelastupdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="ipwhitelist != null" >
        ipwhitelist = #{ipwhitelist,jdbcType=VARCHAR},
      </if>
      <if test="instancebaseconfigbelonger != null" >
        instancebaseconfigbelonger = #{instancebaseconfigbelonger,jdbcType=BIGINT},
      </if>
    </set>
    where instancebaseconfigid = #{instancebaseconfigid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.paas.ipaas.rds.dao.mapper.bo.RdsInstanceBaseconfig" >
    update rds_instance_baseconfig
    set instancecreatetime = #{instancecreatetime,jdbcType=TIMESTAMP},
      instancedatapath = #{instancedatapath,jdbcType=VARCHAR},
      instancehomepath = #{instancehomepath,jdbcType=VARCHAR},
      instancelastupdatetime = #{instancelastupdatetime,jdbcType=TIMESTAMP},
      ipwhitelist = #{ipwhitelist,jdbcType=VARCHAR},
      instancebaseconfigbelonger = #{instancebaseconfigbelonger,jdbcType=BIGINT}
    where instancebaseconfigid = #{instancebaseconfigid,jdbcType=BIGINT}
  </update>
</mapper>