<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.paas.ipaas.rds.dao.interfaces.RdsInstanceipportMapper" >
  <resultMap id="BaseResultMap" type="com.ai.paas.ipaas.rds.dao.mapper.bo.RdsInstanceipport" >
    <id column="instanceipportid" property="instanceipportid" jdbcType="BIGINT" />
    <result column="instancecreatetime" property="instancecreatetime" jdbcType="TIMESTAMP" />
    <result column="instanceip" property="instanceip" jdbcType="VARCHAR" />
    <result column="instancelastupdatetime" property="instancelastupdatetime" jdbcType="TIMESTAMP" />
    <result column="instanceurl" property="instanceurl" jdbcType="VARCHAR" />
    <result column="port" property="port" jdbcType="INTEGER" />
    <result column="instanceipportbelonger" property="instanceipportbelonger" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    instanceipportid, instancecreatetime, instanceip, instancelastupdatetime, instanceurl, 
    port, instanceipportbelonger
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.paas.ipaas.rds.dao.mapper.bo.RdsInstanceipportCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from rds_instanceipport
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Long" >
    select 
    <include refid="Base_Column_List" />
    from rds_instanceipport
    where instanceipportid = #{instanceipportid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Long" >
    delete from rds_instanceipport
    where instanceipportid = #{instanceipportid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.paas.ipaas.rds.dao.mapper.bo.RdsInstanceipportCriteria" >
    delete from rds_instanceipport
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.paas.ipaas.rds.dao.mapper.bo.RdsInstanceipport" >
    insert into rds_instanceipport (instanceipportid, instancecreatetime, 
      instanceip, instancelastupdatetime, instanceurl, 
      port, instanceipportbelonger)
    values (#{instanceipportid,jdbcType=BIGINT}, #{instancecreatetime,jdbcType=TIMESTAMP}, 
      #{instanceip,jdbcType=VARCHAR}, #{instancelastupdatetime,jdbcType=TIMESTAMP}, #{instanceurl,jdbcType=VARCHAR}, 
      #{port,jdbcType=INTEGER}, #{instanceipportbelonger,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.paas.ipaas.rds.dao.mapper.bo.RdsInstanceipport" >
    insert into rds_instanceipport
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="instanceipportid != null" >
        instanceipportid,
      </if>
      <if test="instancecreatetime != null" >
        instancecreatetime,
      </if>
      <if test="instanceip != null" >
        instanceip,
      </if>
      <if test="instancelastupdatetime != null" >
        instancelastupdatetime,
      </if>
      <if test="instanceurl != null" >
        instanceurl,
      </if>
      <if test="port != null" >
        port,
      </if>
      <if test="instanceipportbelonger != null" >
        instanceipportbelonger,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="instanceipportid != null" >
        #{instanceipportid,jdbcType=BIGINT},
      </if>
      <if test="instancecreatetime != null" >
        #{instancecreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="instanceip != null" >
        #{instanceip,jdbcType=VARCHAR},
      </if>
      <if test="instancelastupdatetime != null" >
        #{instancelastupdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="instanceurl != null" >
        #{instanceurl,jdbcType=VARCHAR},
      </if>
      <if test="port != null" >
        #{port,jdbcType=INTEGER},
      </if>
      <if test="instanceipportbelonger != null" >
        #{instanceipportbelonger,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.paas.ipaas.rds.dao.mapper.bo.RdsInstanceipportCriteria" resultType="java.lang.Integer" >
    select count(*) from rds_instanceipport
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update rds_instanceipport
    <set >
      <if test="record.instanceipportid != null" >
        instanceipportid = #{record.instanceipportid,jdbcType=BIGINT},
      </if>
      <if test="record.instancecreatetime != null" >
        instancecreatetime = #{record.instancecreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.instanceip != null" >
        instanceip = #{record.instanceip,jdbcType=VARCHAR},
      </if>
      <if test="record.instancelastupdatetime != null" >
        instancelastupdatetime = #{record.instancelastupdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.instanceurl != null" >
        instanceurl = #{record.instanceurl,jdbcType=VARCHAR},
      </if>
      <if test="record.port != null" >
        port = #{record.port,jdbcType=INTEGER},
      </if>
      <if test="record.instanceipportbelonger != null" >
        instanceipportbelonger = #{record.instanceipportbelonger,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update rds_instanceipport
    set instanceipportid = #{record.instanceipportid,jdbcType=BIGINT},
      instancecreatetime = #{record.instancecreatetime,jdbcType=TIMESTAMP},
      instanceip = #{record.instanceip,jdbcType=VARCHAR},
      instancelastupdatetime = #{record.instancelastupdatetime,jdbcType=TIMESTAMP},
      instanceurl = #{record.instanceurl,jdbcType=VARCHAR},
      port = #{record.port,jdbcType=INTEGER},
      instanceipportbelonger = #{record.instanceipportbelonger,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.paas.ipaas.rds.dao.mapper.bo.RdsInstanceipport" >
    update rds_instanceipport
    <set >
      <if test="instancecreatetime != null" >
        instancecreatetime = #{instancecreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="instanceip != null" >
        instanceip = #{instanceip,jdbcType=VARCHAR},
      </if>
      <if test="instancelastupdatetime != null" >
        instancelastupdatetime = #{instancelastupdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="instanceurl != null" >
        instanceurl = #{instanceurl,jdbcType=VARCHAR},
      </if>
      <if test="port != null" >
        port = #{port,jdbcType=INTEGER},
      </if>
      <if test="instanceipportbelonger != null" >
        instanceipportbelonger = #{instanceipportbelonger,jdbcType=BIGINT},
      </if>
    </set>
    where instanceipportid = #{instanceipportid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.paas.ipaas.rds.dao.mapper.bo.RdsInstanceipport" >
    update rds_instanceipport
    set instancecreatetime = #{instancecreatetime,jdbcType=TIMESTAMP},
      instanceip = #{instanceip,jdbcType=VARCHAR},
      instancelastupdatetime = #{instancelastupdatetime,jdbcType=TIMESTAMP},
      instanceurl = #{instanceurl,jdbcType=VARCHAR},
      port = #{port,jdbcType=INTEGER},
      instanceipportbelonger = #{instanceipportbelonger,jdbcType=BIGINT}
    where instanceipportid = #{instanceipportid,jdbcType=BIGINT}
  </update>
</mapper>