<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.paas.ipaas.rds.dao.interfaces.RdsInstanceStatusMapper" >
  <resultMap id="BaseResultMap" type="com.ai.paas.ipaas.rds.dao.mapper.bo.RdsInstanceStatus" >
    <id column="instancestatusid" property="instancestatusid" jdbcType="BIGINT" />
    <result column="instancecreatetime" property="instancecreatetime" jdbcType="TIMESTAMP" />
    <result column="instancelastupdatetime" property="instancelastupdatetime" jdbcType="TIMESTAMP" />
    <result column="instancestatus" property="instancestatus" jdbcType="INTEGER" />
    <result column="instancestatusbelonger" property="instancestatusbelonger" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    instancestatusid, instancecreatetime, instancelastupdatetime, instancestatus, instancestatusbelonger
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.paas.ipaas.rds.dao.mapper.bo.RdsInstanceStatusCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from rds_instance_status
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Long" >
    select 
    <include refid="Base_Column_List" />
    from rds_instance_status
    where instancestatusid = #{instancestatusid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Long" >
    delete from rds_instance_status
    where instancestatusid = #{instancestatusid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.paas.ipaas.rds.dao.mapper.bo.RdsInstanceStatusCriteria" >
    delete from rds_instance_status
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.paas.ipaas.rds.dao.mapper.bo.RdsInstanceStatus" >
    insert into rds_instance_status (instancestatusid, instancecreatetime, 
      instancelastupdatetime, instancestatus, 
      instancestatusbelonger)
    values (#{instancestatusid,jdbcType=BIGINT}, #{instancecreatetime,jdbcType=TIMESTAMP}, 
      #{instancelastupdatetime,jdbcType=TIMESTAMP}, #{instancestatus,jdbcType=INTEGER}, 
      #{instancestatusbelonger,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.paas.ipaas.rds.dao.mapper.bo.RdsInstanceStatus" >
    insert into rds_instance_status
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="instancestatusid != null" >
        instancestatusid,
      </if>
      <if test="instancecreatetime != null" >
        instancecreatetime,
      </if>
      <if test="instancelastupdatetime != null" >
        instancelastupdatetime,
      </if>
      <if test="instancestatus != null" >
        instancestatus,
      </if>
      <if test="instancestatusbelonger != null" >
        instancestatusbelonger,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="instancestatusid != null" >
        #{instancestatusid,jdbcType=BIGINT},
      </if>
      <if test="instancecreatetime != null" >
        #{instancecreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="instancelastupdatetime != null" >
        #{instancelastupdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="instancestatus != null" >
        #{instancestatus,jdbcType=INTEGER},
      </if>
      <if test="instancestatusbelonger != null" >
        #{instancestatusbelonger,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.paas.ipaas.rds.dao.mapper.bo.RdsInstanceStatusCriteria" resultType="java.lang.Integer" >
    select count(*) from rds_instance_status
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update rds_instance_status
    <set >
      <if test="record.instancestatusid != null" >
        instancestatusid = #{record.instancestatusid,jdbcType=BIGINT},
      </if>
      <if test="record.instancecreatetime != null" >
        instancecreatetime = #{record.instancecreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.instancelastupdatetime != null" >
        instancelastupdatetime = #{record.instancelastupdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.instancestatus != null" >
        instancestatus = #{record.instancestatus,jdbcType=INTEGER},
      </if>
      <if test="record.instancestatusbelonger != null" >
        instancestatusbelonger = #{record.instancestatusbelonger,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update rds_instance_status
    set instancestatusid = #{record.instancestatusid,jdbcType=BIGINT},
      instancecreatetime = #{record.instancecreatetime,jdbcType=TIMESTAMP},
      instancelastupdatetime = #{record.instancelastupdatetime,jdbcType=TIMESTAMP},
      instancestatus = #{record.instancestatus,jdbcType=INTEGER},
      instancestatusbelonger = #{record.instancestatusbelonger,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.paas.ipaas.rds.dao.mapper.bo.RdsInstanceStatus" >
    update rds_instance_status
    <set >
      <if test="instancecreatetime != null" >
        instancecreatetime = #{instancecreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="instancelastupdatetime != null" >
        instancelastupdatetime = #{instancelastupdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="instancestatus != null" >
        instancestatus = #{instancestatus,jdbcType=INTEGER},
      </if>
      <if test="instancestatusbelonger != null" >
        instancestatusbelonger = #{instancestatusbelonger,jdbcType=BIGINT},
      </if>
    </set>
    where instancestatusid = #{instancestatusid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.paas.ipaas.rds.dao.mapper.bo.RdsInstanceStatus" >
    update rds_instance_status
    set instancecreatetime = #{instancecreatetime,jdbcType=TIMESTAMP},
      instancelastupdatetime = #{instancelastupdatetime,jdbcType=TIMESTAMP},
      instancestatus = #{instancestatus,jdbcType=INTEGER},
      instancestatusbelonger = #{instancestatusbelonger,jdbcType=BIGINT}
    where instancestatusid = #{instancestatusid,jdbcType=BIGINT}
  </update>
</mapper>