<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.paas.ipaas.rds.dao.interfaces.RdsResourcepoolMapper" >
  <resultMap id="BaseResultMap" type="com.ai.paas.ipaas.rds.dao.mapper.bo.RdsResourcepool" >
    <id column="resourceid" property="resourceid" jdbcType="BIGINT" />
    <result column="currentport" property="currentport" jdbcType="INTEGER" />
    <result column="cycle" property="cycle" jdbcType="INTEGER" />
    <result column="hostip" property="hostip" jdbcType="VARCHAR" />
    <result column="instancecreatetime" property="instancecreatetime" jdbcType="TIMESTAMP" />
    <result column="instancelastupdatetime" property="instancelastupdatetime" jdbcType="TIMESTAMP" />
    <result column="maxport" property="maxport" jdbcType="INTEGER" />
    <result column="minport" property="minport" jdbcType="INTEGER" />
    <result column="sshpassword" property="sshpassword" jdbcType="INTEGER" />
    <result column="sshuser" property="sshuser" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="totalmemory" property="totalmemory" jdbcType="INTEGER" />
    <result column="usedmemory" property="usedmemory" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    resourceid, currentport, cycle, hostip, instancecreatetime, instancelastupdatetime, 
    maxport, minport, sshpassword, sshuser, status, totalmemory, usedmemory
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.paas.ipaas.rds.dao.mapper.bo.RdsResourcepoolCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from rds_resourcepool
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Long" >
    select 
    <include refid="Base_Column_List" />
    from rds_resourcepool
    where resourceid = #{resourceid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Long" >
    delete from rds_resourcepool
    where resourceid = #{resourceid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.paas.ipaas.rds.dao.mapper.bo.RdsResourcepoolCriteria" >
    delete from rds_resourcepool
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.paas.ipaas.rds.dao.mapper.bo.RdsResourcepool" >
    insert into rds_resourcepool (resourceid, currentport, cycle, 
      hostip, instancecreatetime, instancelastupdatetime, 
      maxport, minport, sshpassword, 
      sshuser, status, totalmemory, 
      usedmemory)
    values (#{resourceid,jdbcType=BIGINT}, #{currentport,jdbcType=INTEGER}, #{cycle,jdbcType=INTEGER}, 
      #{hostip,jdbcType=VARCHAR}, #{instancecreatetime,jdbcType=TIMESTAMP}, #{instancelastupdatetime,jdbcType=TIMESTAMP}, 
      #{maxport,jdbcType=INTEGER}, #{minport,jdbcType=INTEGER}, #{sshpassword,jdbcType=INTEGER}, 
      #{sshuser,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{totalmemory,jdbcType=INTEGER}, 
      #{usedmemory,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.paas.ipaas.rds.dao.mapper.bo.RdsResourcepool" >
    insert into rds_resourcepool
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="resourceid != null" >
        resourceid,
      </if>
      <if test="currentport != null" >
        currentport,
      </if>
      <if test="cycle != null" >
        cycle,
      </if>
      <if test="hostip != null" >
        hostip,
      </if>
      <if test="instancecreatetime != null" >
        instancecreatetime,
      </if>
      <if test="instancelastupdatetime != null" >
        instancelastupdatetime,
      </if>
      <if test="maxport != null" >
        maxport,
      </if>
      <if test="minport != null" >
        minport,
      </if>
      <if test="sshpassword != null" >
        sshpassword,
      </if>
      <if test="sshuser != null" >
        sshuser,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="totalmemory != null" >
        totalmemory,
      </if>
      <if test="usedmemory != null" >
        usedmemory,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="resourceid != null" >
        #{resourceid,jdbcType=BIGINT},
      </if>
      <if test="currentport != null" >
        #{currentport,jdbcType=INTEGER},
      </if>
      <if test="cycle != null" >
        #{cycle,jdbcType=INTEGER},
      </if>
      <if test="hostip != null" >
        #{hostip,jdbcType=VARCHAR},
      </if>
      <if test="instancecreatetime != null" >
        #{instancecreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="instancelastupdatetime != null" >
        #{instancelastupdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="maxport != null" >
        #{maxport,jdbcType=INTEGER},
      </if>
      <if test="minport != null" >
        #{minport,jdbcType=INTEGER},
      </if>
      <if test="sshpassword != null" >
        #{sshpassword,jdbcType=INTEGER},
      </if>
      <if test="sshuser != null" >
        #{sshuser,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="totalmemory != null" >
        #{totalmemory,jdbcType=INTEGER},
      </if>
      <if test="usedmemory != null" >
        #{usedmemory,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.paas.ipaas.rds.dao.mapper.bo.RdsResourcepoolCriteria" resultType="java.lang.Integer" >
    select count(*) from rds_resourcepool
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update rds_resourcepool
    <set >
      <if test="record.resourceid != null" >
        resourceid = #{record.resourceid,jdbcType=BIGINT},
      </if>
      <if test="record.currentport != null" >
        currentport = #{record.currentport,jdbcType=INTEGER},
      </if>
      <if test="record.cycle != null" >
        cycle = #{record.cycle,jdbcType=INTEGER},
      </if>
      <if test="record.hostip != null" >
        hostip = #{record.hostip,jdbcType=VARCHAR},
      </if>
      <if test="record.instancecreatetime != null" >
        instancecreatetime = #{record.instancecreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.instancelastupdatetime != null" >
        instancelastupdatetime = #{record.instancelastupdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.maxport != null" >
        maxport = #{record.maxport,jdbcType=INTEGER},
      </if>
      <if test="record.minport != null" >
        minport = #{record.minport,jdbcType=INTEGER},
      </if>
      <if test="record.sshpassword != null" >
        sshpassword = #{record.sshpassword,jdbcType=INTEGER},
      </if>
      <if test="record.sshuser != null" >
        sshuser = #{record.sshuser,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.totalmemory != null" >
        totalmemory = #{record.totalmemory,jdbcType=INTEGER},
      </if>
      <if test="record.usedmemory != null" >
        usedmemory = #{record.usedmemory,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update rds_resourcepool
    set resourceid = #{record.resourceid,jdbcType=BIGINT},
      currentport = #{record.currentport,jdbcType=INTEGER},
      cycle = #{record.cycle,jdbcType=INTEGER},
      hostip = #{record.hostip,jdbcType=VARCHAR},
      instancecreatetime = #{record.instancecreatetime,jdbcType=TIMESTAMP},
      instancelastupdatetime = #{record.instancelastupdatetime,jdbcType=TIMESTAMP},
      maxport = #{record.maxport,jdbcType=INTEGER},
      minport = #{record.minport,jdbcType=INTEGER},
      sshpassword = #{record.sshpassword,jdbcType=INTEGER},
      sshuser = #{record.sshuser,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER},
      totalmemory = #{record.totalmemory,jdbcType=INTEGER},
      usedmemory = #{record.usedmemory,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.paas.ipaas.rds.dao.mapper.bo.RdsResourcepool" >
    update rds_resourcepool
    <set >
      <if test="currentport != null" >
        currentport = #{currentport,jdbcType=INTEGER},
      </if>
      <if test="cycle != null" >
        cycle = #{cycle,jdbcType=INTEGER},
      </if>
      <if test="hostip != null" >
        hostip = #{hostip,jdbcType=VARCHAR},
      </if>
      <if test="instancecreatetime != null" >
        instancecreatetime = #{instancecreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="instancelastupdatetime != null" >
        instancelastupdatetime = #{instancelastupdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="maxport != null" >
        maxport = #{maxport,jdbcType=INTEGER},
      </if>
      <if test="minport != null" >
        minport = #{minport,jdbcType=INTEGER},
      </if>
      <if test="sshpassword != null" >
        sshpassword = #{sshpassword,jdbcType=INTEGER},
      </if>
      <if test="sshuser != null" >
        sshuser = #{sshuser,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="totalmemory != null" >
        totalmemory = #{totalmemory,jdbcType=INTEGER},
      </if>
      <if test="usedmemory != null" >
        usedmemory = #{usedmemory,jdbcType=INTEGER},
      </if>
    </set>
    where resourceid = #{resourceid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.paas.ipaas.rds.dao.mapper.bo.RdsResourcepool" >
    update rds_resourcepool
    set currentport = #{currentport,jdbcType=INTEGER},
      cycle = #{cycle,jdbcType=INTEGER},
      hostip = #{hostip,jdbcType=VARCHAR},
      instancecreatetime = #{instancecreatetime,jdbcType=TIMESTAMP},
      instancelastupdatetime = #{instancelastupdatetime,jdbcType=TIMESTAMP},
      maxport = #{maxport,jdbcType=INTEGER},
      minport = #{minport,jdbcType=INTEGER},
      sshpassword = #{sshpassword,jdbcType=INTEGER},
      sshuser = #{sshuser,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      totalmemory = #{totalmemory,jdbcType=INTEGER},
      usedmemory = #{usedmemory,jdbcType=INTEGER}
    where resourceid = #{resourceid,jdbcType=BIGINT}
  </update>
</mapper>